<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
     		http://www.springframework.org/schema/beans
     		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     		http://www.springframework.org/schema/tx
		">

    <!-- enable component scanning and autowire (beware that this does not enable
        mapper scanning!) -->
    <context:component-scan base-package="org.stenio">
        <context:exclude-filter type="regex"
                                expression="org.stenio.*.web.*"/>
    </context:component-scan>

    <bean id="autoRefreshAccessTokenDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject">
            <bean class="org.stenio.wx.thirdparty.job.RefreshTokenJob"></bean>
        </property>
        <property name="targetMethod" value="doJob"/>
        <property name="concurrent" value="false"/>
    </bean>

    <bean id="autoRefreshAccessTokenTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="autoRefreshAccessTokenDetail"/>
        <property name="cronExpression" value="0 * * * * ?"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="autoRefreshAccessTokenTrigger"/>
            </list>
        </property>
    </bean>

</beans>